<!-- blog/templates/blog/post_form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>
        {% if form.instance.pk %}Edit{% else %}New{% endif %} Post
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <h1>{% if form.instance.pk %}Edit{% else %}New{% endif %} Post</h1>
    <form class="formSave" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'post_list' %}">← Back to list</a>
</body>
</html>
